.contenedorNav{
    display: flex;
    align-items: center;
    align-content: space-evenly;
}

.tituloPrincipal{
    font-size: 70px;
    text-align: center;
}

.paginasMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    margin-top: 20px;
}